<?xml version="1.0"?>
<launch>

    <!-- General simulation parameters -->
    <arg name="launch_gazebo_gui" default="true"/>
    <arg name="launch_gazebo_paused" default="true"/>
    <arg name="launch_gazebo_world" default="true"/>
    <arg name="gazebo_world" default="$(find dlr_gazebo_world)/worlds/canal_bridge.world"/>

    <include if="$(arg launch_gazebo_world)" file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg gazebo_world)"/>
        <arg name="debug" value="false" />
        <arg name="paused" value="$(arg launch_gazebo_paused)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="gui" value="$(arg launch_gazebo_gui)"/>
    </include>

    <group ns="bridge1">
        <include file="$(find dlr_gazebo_world)/launch/spawn_urdf.launch">
            <arg name="model_name" value="canal_bridge1"/>
            <arg name="x_init_pose" value="20"/>
            <arg name="y_init_pose" value="-3"/>
            <arg name="z_init_pose" value="0"/>
            <arg name="yaw_init_pose" value="1.5407"/>
            <arg name="urdf_filepath" value="$(find dlr_gazebo_world)/urdf/canal_bridge.urdf.xacro"/>
            <arg name="urdf_args" value=""/>
            <arg name="spawn_controllers" value="false"/>
            <arg name="spawn_robot_state_publisher" value="true"/>
        </include>
    </group>

    <group ns="bridge2">
        <include file="$(find dlr_gazebo_world)/launch/spawn_urdf.launch">
            <arg name="model_name" value="canal_bridge2"/>
            <arg name="x_init_pose" value="-30"/>
            <arg name="y_init_pose" value="-3"/>
            <arg name="z_init_pose" value="0"/>
            <arg name="yaw_init_pose" value="1.5407"/>
            <arg name="urdf_filepath" value="$(find dlr_gazebo_world)/urdf/canal_bridge.urdf.xacro"/>
            <arg name="urdf_args" value=""/>
            <arg name="spawn_controllers" value="false"/>
            <arg name="spawn_robot_state_publisher" value="false"/>
        </include>
    </group>

    <group ns="bridge3">
        <include file="$(find dlr_gazebo_world)/launch/spawn_urdf.launch">
            <arg name="model_name" value="canal_bridge3"/>
            <arg name="x_init_pose" value="66"/>
            <arg name="y_init_pose" value="80"/>
            <arg name="z_init_pose" value="0"/>
            <arg name="yaw_init_pose" value="0"/>
            <arg name="urdf_filepath" value="$(find dlr_gazebo_world)/urdf/canal_bridge.urdf.xacro"/>
            <arg name="urdf_args" value=""/>
            <arg name="spawn_controllers" value="false"/>
            <arg name="spawn_robot_state_publisher" value="true"/>
        </include>
    </group>

    <group ns="bridge4">
        <include file="$(find dlr_gazebo_world)/launch/spawn_urdf.launch">
            <arg name="model_name" value="canal_bridge4"/>
            <arg name="x_init_pose" value="54"/>
            <arg name="y_init_pose" value="-50"/>
            <arg name="z_init_pose" value="0"/>
            <arg name="yaw_init_pose" value="0"/>
            <arg name="urdf_filepath" value="$(find dlr_gazebo_world)/urdf/canal_bridge.urdf.xacro"/>
            <arg name="urdf_args" value=""/>
            <arg name="spawn_controllers" value="false"/>
            <arg name="spawn_robot_state_publisher" value="false"/>
        </include>
    </group>



</launch>
