<?xml version="1.0" ?>
<launch>

    <!-- Launch arguments -->
    <arg name="model_name" default="canal_bridge"/>
    <arg name="x_init_pose" default="0"/>
    <arg name="y_init_pose" default="0"/>
    <arg name="z_init_pose" default="0"/>
    <arg name="roll_init_pose" default="0"/>
    <arg name="pitch_init_pose" default="0"/>
    <arg name="yaw_init_pose" default="0"/>
    <arg name="urdf_filepath" default="$(find dlr_vessel_description)/robots/dlr_vessel.xacro"/>
    <arg name="urdf_args" default=""/>
    <arg name="spawn_controllers" default="true"/>
    <arg name="spawn_robot_state_publisher" default="true"/>

    <include file="$(find dlr_gazebo_world)/launch/spawn_urdf.launch" pass_all_args="true"/> 

</launch>