<?xml version="1.0"?>

<robot name="stereolabs_zed2" xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="stereolabs_zed2" params="prefix:=''
                                                camera_name:=zed 
                                                parent 
                                                *origin 
                                                format:=R8G8B8 
                                                near:=0.5 
                                                far:=30 
                                                enable_gazebo_plugin:=true">

    <xacro:property name="M_PI" value="3.14159265359"/>

    <!-- Solid cuboid inertia macro definition -->
    <xacro:macro name="solid_cuboid_inertia" params="m h d w">
        <inertia  ixx="${(m*(h*h+d*d))/12}" ixy = "0" ixz = "0"
                iyy="${(m*(w*w+d*d))/12}" iyz = "0"
                izz="${(m*(w*w+h*h))/12}"/>
    </xacro:macro>

    <xacro:macro name="stereolabs_zed2_gazebo" params="prefix
                                                       camera_name
                                                       fps 
                                                       baseline 
                                                       hfov 
                                                       width 
                                                       height 
                                                       format 
                                                       near 
                                                       far">
                                                       
        <gazebo reference="${prefix}_${camera_name}_base_link">
            <visual>
                <material>
                    <ambient>0.35 0.35 0.35 1.0</ambient>
                    <diffuse>0.350754 0.350754 0.350754 1.0</diffuse>
                    <specular>0.308273 0.3508273 0.3508273 1.0</specular>
                    <emissive>0.0 0.0 0.0 0.0</emissive>
                </material>
            </visual>
            <sensor name="${prefix}_${camera_name}color" type="camera">
                <camera name="${prefix}_${camera_name}">
                <horizontal_fov>${hfov}</horizontal_fov>
                <image>
                    <width>${width}</width>
                    <height>${height}</height>
                    <format>RGB_INT8</format>
                </image>
                <clip>
                    <near>${near}</near>
                    <far>${far}</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
                </camera>
                <always_on>1</always_on>
                <update_rate>20</update_rate>
                <visualize>true</visualize>
            </sensor>
            <sensor type="depth" name="depth_camera">
                <update_rate>${fps}</update_rate>
                <camera>
                    <horizontal_fov>${hfov}</horizontal_fov>
                    <image>
                        <width>${width}</width>
                        <height>${height}</height>
                        <format>${format}</format>
                    </image>
                    <clip>
                        <near>${near}</near>
                        <far>${far}</far>
                    </clip>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.007</stddev>
                    </noise>
                </camera>
                <plugin name="${prefix}_${camera_name}_plugin" filename="libgazebo_ros_openni_kinect.so">
                    <baseline>${baseline}</baseline>
                    <alwaysOn>true</alwaysOn>
                    <!-- Keep this zero, update_rate in the parent <sensor> tag
                        will control the frame rate. -->
                    <updateRate>0.0</updateRate>
                    <cameraName>${prefix}_${camera_name}</cameraName>
                    <imageTopicName>/${prefix}/${camera_name}/color/image_raw</imageTopicName>
                    <cameraInfoTopicName>/${prefix}/${camera_name}/color/camera_info</cameraInfoTopicName>
                    <depthImageTopicName>/${prefix}/${camera_name}/depth/image_raw</depthImageTopicName>
                    <depthImageCameraInfoTopicName>/${prefix}/${camera_name}/depth/camera_info</depthImageCameraInfoTopicName>
                    <pointCloudTopicName>/${prefix}/${camera_name}/depth/points</pointCloudTopicName>
                    <frameName>/${prefix}_${camera_name}_depth_optical_frame</frameName>
                    <pointCloudCutoff>${near}</pointCloudCutoff>
                    <pointCloudCutoffMax>${far}</pointCloudCutoffMax>
                    <distortionK1>0</distortionK1>
                    <distortionK2>0</distortionK2>
                    <distortionK3>0</distortionK3>
                    <distortionT1>0</distortionT1>
                    <distortionT2>0</distortionT2>
                    <CxPrime>0</CxPrime>
                    <Cx>0</Cx>
                    <Cy>0</Cy>
                    <focalLength>0</focalLength>
                    <hackBaseline>0</hackBaseline>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>
        
        <xacro:property name="baseline" value="0.12" />
        <joint name="${prefix}_${camera_name}_base_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}"/>
            <child link="${prefix}_${camera_name}_base_link" />
        </joint>

        <link name="${prefix}_${camera_name}_base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://dlr_sensors/meshes/visual/stereolabs_zed2.stl"/>
            </geometry>
            <material name="light_zed_grey">
                <color rgba="0.35 0.35 0.35 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://dlr_sensors/meshes/collision/stereolabs_zed2.stl" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.135" />
            <origin xyz="0 0 0" />
            <xacro:solid_cuboid_inertia m="0.135" w="0.033" h="0.175" d="0.03" />
        </inertial>
        </link>

        <!-- Left camera -->
        <joint name="${prefix}_${camera_name}_camera_left_joint" type="fixed">
            <origin xyz="0.0 0.06 0.0" rpy="0.0 0.0 0.0" />
            <parent link="${prefix}_${camera_name}_base_link" />
            <child link="${prefix}_${camera_name}_left_camera_frame" />
        </joint>

        <link name="${prefix}_${camera_name}_left_camera_frame"/>

        <joint name="${prefix}_${camera_name}_camera_left_optical_joint" type="fixed">
            <origin xyz="0.0 0.0 0.0" rpy="${-M_PI/2} 0.0 ${-M_PI/2}" />
            <parent link="${prefix}_${camera_name}_left_camera_frame" />
            <child link="${prefix}_${camera_name}_left_camera_optical_frame" />
        </joint>

        <link name="${prefix}_${camera_name}_left_camera_optical_frame"/>

        <!-- Right camera-->
        <joint name="${prefix}_${camera_name}_camera_right_joint" type="fixed">
            <origin xyz="0.0 -0.06 0.0" rpy="0.0 0.0 0.0" />
            <parent link="${prefix}_${camera_name}_base_link" />
            <child link="${prefix}_${camera_name}_right_camera_frame" />
        </joint>
        <link name="${prefix}_${camera_name}_right_camera_frame"/>
        <joint name="${prefix}_${camera_name}_camera_right_optical_joint" type="fixed">
            <origin xyz="0.0 0 0.0" rpy="${-M_PI/2} 0.0 ${-M_PI/2}" />
            <parent link="${prefix}_${camera_name}_right_camera_frame" />
            <child link="${prefix}_${camera_name}_right_camera_optical_frame" />
        </joint>
        <link name="${prefix}_${camera_name}_right_camera_optical_frame"/>
        <!-- Depth image-->
        <joint name="${prefix}_${camera_name}_depth_joint" type="fixed">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <parent link="${prefix}_${camera_name}_base_link" />
            <child link="${prefix}_${camera_name}_depth_frame" />
        </joint>
        <link name="${prefix}_${camera_name}_depth_frame"/>
        <joint name="${prefix}_${camera_name}_depth_optical_joint" type="fixed">
            <origin xyz="0.0 0.0 0.0" rpy="${-M_PI/2} 0.0 ${-M_PI/2}" />
            <parent link="${prefix}_${camera_name}_depth_frame" />
            <child link="${prefix}_${camera_name}_depth_optical_frame" />
        </joint>
        <link name="${prefix}_${camera_name}_depth_optical_frame"/>

        <xacro:if value="${enable_gazebo_plugin}">
            <xacro:stereolabs_zed2_gazebo
                prefix="${prefix}"
                camera_name="${camera_name}"
                hfov="1.2217"
                baseline="${baseline}"
                fps="30"
                width="1280"
                height="720"
                format="${format}"
                near="${near}"
                far="${far}"
                />
        </xacro:if>

    </xacro:macro>
    
</robot>
